div.img {
    margin: 1px;
    width: 520px;
}
div .img img {
   height: 570px;
   width: 520px;
}

ul {
    list-style-type: none;
}

.Lower {
    background-color: rgb(96, 112, 126);
    border-radius: 10px;
    padding: 8px;
}